In [1]:
from chefboost import Chefboost as chef
from sklearn.compose import make_column_transformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import OneHotEncoder
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from matplotlib import pyplot as plt
import numpy as np 
import pandas as pd 

load_prices = 'ASS05_DATA.csv'

housing_data = pd.read_csv(load_prices)
print(housing_data.shape)
housing_data.head()

(1460, 6)

   LotArea  TotalBsmtSF  GarageCars  SalePrice  AGE  TotalArea
0    12108         1440           0     118000   53       1440
1     9400          945           0     127500   31        980
2     1680          672           0      91500   35       1218
3     8430         1040           0     124000   31       1040
4     7500         1080           0     141000    4       1080

In [4]:
x=np.array(housing_data['TotalArea'])
y=np.array(housing_data['SalePrice'])

x= x.reshape(-1,1)
y= y.reshape(-1,1)


X_train, X_test, y_train, y_test = train_test_split(x ,y , test_size=0.05)

In [5]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
clf.predict(X_test)

y_pred=clf.predict(X_test)

from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score

y_true = y_test
print("Mean Squared Error = ")
mse(X_train, y_train)

Mean Squared Error =

38370227338.61644

In [9]:
print('R-squared Score = ')
clf.score(X_train, y_train)

R-squared Score =

0.5316178088875818

In [10]:
print('Adjusted R-squared Score = ')

r2_score(y_test, y_pred)

Adjusted R-squared Score =

0.13639512051232605

In [11]:
print("Average Squared Error = ")
mse(y_true, y_pred)

Average Squared Error =

4960876896.352476